absl-py
aiofiles
aiohttp
aiosignal
anyio
asgiref
asttokens
async-timeout
attrs
backcall
backoff
black
bleach
cachetools
certifi
cffi
cfgv
charset-normalizer
click
clip-client
clip-server
cmake
comm
contourpy
crc32c
cycler
debugpy
decorator
Deprecated
distlib
docarray
docker
ecdsa
exceptiongroup
executing
fastapi
filelock
fonttools
frozenlist
fsspec
ftfy
google-auth
google-auth-oauthlib
googleapis-common-protos
graphviz
grpcio
grpcio-health-checking
grpcio-reflection
h11
httptools
huggingface-hub
identify
idna
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
isort
jcloud
jedi
jina
jina-hubble-sdk
Jinja2
jupyter_client
jupyter_core
kaggle
kiwisolver
lazy_loader
lit
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nodeenv
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
open-clip-torch
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-prometheus
opentelemetry-instrumentation
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
packaging
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
pre-commit
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pydantic
Pygments
pyparsing
python-dateutil
python-dotenv
python-jose
python-multipart
python-slugify
PyWavelets
PyYAML
pyzmq
regex
requests
requests-oauthlib
rich
rsa
safetensors
scikit-image
scipy
sentencepiece
six
sniffio
soundfile
stack-data
starlette
sympy
tensorboard
tensorboard-data-server
tensorboard-logger
tensorboard-plugin-wit
tensorboardX @ git+https://github.com/lanpa/tensorboardX
text-unidecode
tifffile
timm
tokenize-rt
tokenizers
tomli
torch
torchsummary
torchvision
torchviz
tornado
tqdm
traitlets
transformers
triton
typing_extensions
urllib3
uvicorn
uvloop
virtualenv
watchfiles
wcwidth
webencodings
websocket-client
websockets
Werkzeug
wget
wrapt
yarl
zipp
